@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif !important;
}
$primary: #00b355;
$secondary: #000000;

.green-bg {
    background-color: $primary;
}
.green-text {
    color: $primary;
}
.green-btn {
    background-color: $primary;
    color: #ffffff;
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: 0.4s all;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border: 1px solid;
    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: #ffffff;
        transition: 0.4s all;
        z-index: -1;
    }
    &::after {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        width: 0%;
        height: 100%;
        background-color: #ffffff;
        transition: 0.4s all;
        z-index: -1;
    }
    &:hover {
        color: $primary;
        &::before {
            width: 52%;
        }
        &::after {
            width: 53%;
        }
    }
}
.light-btn {
    background-color: #ffffff;
    color: $primary;
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: 0.4s all;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border: 1px solid;
    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: $primary;
        transition: 0.4s all;
        z-index: -1;
    }
    &::after {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        width: 0%;
        height: 100%;
        background-color: $primary;
        transition: 0.4s all;
        z-index: -1;
    }
    &:hover {
        color: #ffffff;
        &::before {
            width: 52%;
        }
        &::after {
            width: 52%;
        }
    }
}
header {
    position: fixed;
    background-color: rgb(255 255 255 / 95%);
    width: 90%;
    backdrop-filter: blur(10px);
    z-index: 999;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: 0.4s all;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgb(155 155 155 / 18%);
    border: 2px solid $primary;
    .logo {
        width: 100px;
    }
    nav {
        li {
            margin: 0 5px;
            a {
                color: $secondary !important;
                transition: 0.4s all;
                font-size: 0.9rem;
                &:hover {
                    background-color: $primary;
                    border-radius: 5px;
                    color: #ffffff !important;
                }
            }
        }
    }
}
.border-radius{
    border-radius: 10px;
}
.sticky {
    position: fixed; /* Fix the header at the top */
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1000;
    width: 100%;
    background-color: #ffffff;
    border-radius: 0;
}
.loginbtn {
    color: #ffffff !important;
    &:hover {
        color: $primary !important;
    }
}
.hero-sec {
    height: 100vh;
    background:
        linear-gradient(90deg, #fdfffa 0%, rgba(255, 255, 255, 0) 100%),
        url("../images/hero-bg.webp") no-repeat center center / cover;
    .hero-text {
        margin-top: 15rem;
        h1 {
            font-size: 3rem;
        }
    }
}
.heading {
    p {
        font-family: "Dancing Script", cursive;
    }
    h2 {
        color: $primary;
    }
    a {
        i {
            transform: rotate(45deg);
        }
    }
}
.services {
    .service-box {
        border-radius: 10px;
        overflow: hidden;
        &:hover {
            img {
                filter: none;
            }
            .srv-txt {
                bottom: 7%;
            }
        }
        figure {
            img {
                height: 400px;
                object-fit: cover;
                filter: grayscale(1);
                transition: 0.6s all;
            }
        }
        .srv-txt {
            z-index: 99;
            bottom: 5%;
            left: 50%;
            background: linear-gradient(to bottom, #00b354, rgb(0 182 94 / 83%));
            width: 90%;
            transform: translate(-50%, 0%);
            border-radius: 15px;
            transition: 0.5s all;
        }
    }
}
.program-sec {
    position: relative;
    &::after{
        position: absolute;
        content: '';
        background: url(../images/hatman.png) no-repeat center / 100%;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.1;
        z-index: -1;
    }
    .program-box {
        border: 1px solid rgb(203, 203, 203);
        border-radius: 10px;
        transition: 0.4s all;
        p {
            color: gray;
        }
        &:hover {
            background-color: $primary !important;
            .icon {
                background-color: #ffffff;
                color: $primary;
            }
            h4 {
                color: #ffffff;
            }
            p {
                color: #ffffff;
            }
        }
        .icon {
            background-color: $primary;
            border: 1px solid rgba(203, 203, 203, 0.685);
            width: 80px;
            border-radius: 10px;
            color: #ffffff;
            transition: 0.4s all;
        }
    }
    .golf-ball {
        img {
            width: 100%;
            animation: rotate 20s linear infinite;
        }
    }
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.watermark-right{ 
    position: relative;
&::before{
    position: absolute;
    content: "";
    width: 15%;
    height: 55%;
    right: 0%;
    bottom: 0%;
    transform: translate(0%, 0%);
    background: url(../images/golfzone-logo.png) no-repeat center center / 100%;
    background-attachment: fixed;
    opacity: 0.2;
}
      }
.watermark-left{ 
    position: relative;
&::before{
    position: absolute;
    content: "";
    width: 15%;
    height: 55%;
    left: 0%;
    bottom: 0;
    transform: translate(0%, 0%);
    background: url(../images/golfzone-logo.png) no-repeat center center / 100%;
    background-attachment: fixed;
    opacity: 0.2;
}
      }
.online-coaching {
    background: url(../images/bg.png) no-repeat center center / cover;
    border-radius: 10px;
}
.page-title {
    background: url(../images/title.jpg) no-repeat center / cover;
    padding: 14rem 0rem 4rem 0rem;
}
.newletter {
    form {
        input {
            border-radius: 100px;
            background-color: #ffffff86;
            border: 1px solid #ffffff;
            &::placeholder {
                color: #ffffffa1;
                font-size: 0.9rem;
            }
        }
        button {
            border-radius: 100px;
            top: 50%;
            right: 0%;
            transform: translate(-9%, -50%);
        }
    }
}
footer {
    .middle-footer {
        ul {
            list-style-type: none;
        }
        .footer-box {
            img {
                width: 150px;
            }
        }
        .links {
            a {
                &:hover {
                    color: $primary !important;
                    i {
                        margin-right: 10px;
                    }
                }
            }
            i {
                font-size: 0.7rem;
                color: rgb(0, 0, 0);
                margin-right: 5px;
                transition: 0.3s all;
            }
        }
    }
}
.testmonial {
    .swiper {
        max-width: 700px;
        margin: 0 auto;
        border: 1px solid #80808042;
        border-radius: 10px;
    }
}
.contact-detail {
    .contact-box {
        border: 1px solid rgb(203, 203, 203);
        border-radius: 10px;
        transition: 0.4s all;
        p {
            color: gray;
        }
        &:hover {
            background-color: $primary;
            .icon {
                background-color: #ffffff;
                color: $primary;
            }
            h4 {
                color: #ffffff;
            }
            p {
                color: #ffffff;
            }
        }
        .icon {
            background-color: $primary;
            border: 1px solid rgba(203, 203, 203, 0.685);
            width: 80px;
            border-radius: 10px;
            color: #ffffff;
            transition: 0.4s all;
        }
    }
}
.form-sec {
    box-shadow: 0px 5px 15px rgba(128, 128, 128, 0.423);
    border-radius: 20px;
    margin-top: -100px !important;
    width: 80% !important;
    margin: 0 auto;
    input {
        transition: 0.4s all;
        &:focus {
            box-shadow: 0px 4px 10px #00b3544f;
            border-color: $primary;
        }
    }
}

.pricing {
    #pills-tab {
        width: max-content;
        border: 1px solid $primary;
        border-radius: 5px;
        button {
            color: $secondary;
            transition: 0.4s all;
        }
        .active {
            background-color: $primary;
            color: #ffffff;
            font-weight: 600;
            letter-spacing: 2px;
        }
    }
    .pricing__card {
        background-color: #ffffff;
        box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
        border-radius: 5px;
        padding-bottom: 30px;
        .pricing__card-head {
            text-align: center;
            background-color: $primary;
            border-radius: 5px;
            margin-bottom: 35px;
            cursor: pointer;
            transition: 0.3s all;
            &:hover{
                background-color: $secondary;
            }
        }
        ul{
            list-style: none;
           li{
            font-weight: 600;
            line-height: 2.5;
            i{
                color: $primary;
                font-size: 17px;
                margin-right: 5px;
            }
           }
        }
        .pricing__card-body{
            display: none;
            transition: 0.4s all;
        }
    }
}
    .ser-img{
        border-radius: 10px;
        overflow: hidden;
    }
.junior-camp{
    background: url(../images/junior-camp.jpg) no-repeat;
    background-position: center top;
    background-size: cover;
    .ser-text{
        background-color: #00000087;
        backdrop-filter: blur(10px);
        border-radius: 10px;
    }
}
.summer-camp{
    background: url(../images/summer-camp.jpg) no-repeat;
    background-position: center top;
    background-size: cover;
    .ser-text{
        background-color: #00000087;
        backdrop-filter: blur(10px);
        border-radius: 10px;
    }
}
.fetr-box{
    background-color: #eeeeee54;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: 0.4s all;
    &:hover{
        background-color: #ffffff;
        border: 1px solid $primary;
        box-shadow: 0px 5px 12px rgb(228, 228, 228);
    }
    .icon{
        width: 70px;
        margin: 0 auto;
        img{
            width: 100%;
        }
    }
}

.ceo{
    .ceo-img{
        border-radius: 10px;
        overflow: hidden;
    }
}
.story{
    .story-box{
        &:hover{
            img{
                transform: scale(1.2);
            }
        }
        .story-img{
            border-radius: 10px;
            overflow: hidden;
            img{
                transition: 0.4s all;
            }

        }
    }
}
.certificate{
    .certificate-box{
        &:nth-child(2){
            background-color: rgb(234, 234, 234);
        }
    }
    .form-sec{
        margin-top: 0 !important;
        background: url(../images/services-2.jpg) no-repeat center / cover;
        border-radius: 0;
        form{
            background: #00000054;
            backdrop-filter: blur(13px);
        }
    }
}

.golf-designing{
.service-box figure img {
        height: 400px;
        -o-object-fit: cover;
        object-fit: cover;
        filter: none;
        transition: 0.6s all;
    }
}
.city-club{
    .swiper-slide{
        overflow: hidden;
        border-radius: 10px;
        &:hover{
            img{
                transform: scale(1.2);
            }
        }
        img{
            transition: 0.4s all;
        }

    }
}
.core{
    .core-box{
        background-color: $primary;
        border-radius: 10px;
        border: 1px solid transparent;
        transition: 0.4s all;
        p{
            color: #ffffff;
            transition: 0.4s all;
        }
        &:hover{
            background-color: #ffffff;
            border: 1px solid $primary;
            box-shadow: 0px 3px 8px rgb(231, 231, 231);
            p{
                color: $primary;
            }
        }
    }
}
.all-program{
    background: url(../images/all-program.jpg) no-repeat;
    background-size: cover;
    position: relative;
    &::before{
        background-color: $secondary;
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0.5;
    }
}
@media(min-width:320px) and (max-width:989px){
    .program-sec .golf-ball{
        text-align: center;
        img{
            width: 50%;
            margin: 0 auto;
        }
    } 
}
@media(min-width:990px) and (max-width:1366px){
    header{
        width: 100%;
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        font-size: 0.8rem;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
